body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.bordered {
    border: 2px solid;
    border-radius: 1em;

    margin: 5px;
    padding: 2px;
}

footer {
    width: 100vw;
    margin-left: -8px;
    margin-bottom: -8px;

    font-family: 'XiaoXueSiNianJi';
    font-weight: bold;
    font-size: 2em;

    background-color: black;
    color: white;
    padding-top: 1px;
}


a:link {
    text-decoration: none;
    color: #0060ff;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #b000b0;
}
