@font-face {
    font-family: 'SourceHanSansCN';
    src: url('SourceHanSansCN-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'XiaoXueSiNianJi';
    src: url('XiaoXueSiNianJi-2.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
