blockquote {
    padding-left: 1em;

    border: 1px solid;
    border-radius: 0.5em;

    background: rgb(255 0 0 / 5%);
}

code {
    border-radius: 0.3em;
    font-size: 0.8em;

    background: rgb(0 0 255 / 5%);
}
