<!doctype html>

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon@16x16.png" />

		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />

		<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js"></script>

		<title>
			{% block title %} {% endblock title %}
		</title>

		<link rel="stylesheet" href="/font.css" />
		<link rel="stylesheet" href="/base.css" />
		{% block head %} {% endblock head %}
	</head>

	<body>
		{% block body %} {% endblock body %}
		<footer>
			<p>除非另有说明，本站所有本人创作内容均通过CC0协议释放至公共领域～ Unless other specified, all content by me is released into public domain under CC0 license~~<br /> chsungyesuzuki 2025 no rights reserved</p>
			<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode"><img src="/cc0.png" alt="CC0 Legal Code" /></a>
			<a href="/rss.xml"> <img src="/rss-icon.png" alt="RSS" /> </a>
		</footer>
	</body>
</html>

