{% extends "base_with_nav.html" %}

{% block content %}
    {% block meta %} {% endblock meta %}

    <section>
        <ol class="item_list">
        {% for page in paginator.pages %}
            <li class="item">
                <article>
                    <h2>
                        <a href="{{ page.permalink | safe }}"> {{ page.title }} </a>
                    </h2> @ {{ page.date }}
                    {% for category in page.taxonomies.category %}
                        # <a href="{{ get_taxonomy_url(kind='category', name=category) }}"> {{ category }} </a>
                    {% endfor %}
                    {% if page.taxonomies.field %}
                        {% for field in page.taxonomies.field %}
                            # <a href="{{ get_taxonomy_url(kind='field', name=field) }}"> {{ field }} </a>
                        {% endfor %}
                    {% endif %}
                    {% if page.taxonomies.tag %}
                        {% for tag in page.taxonomies.tag %}
                            # <a href="{{ get_taxonomy_url(kind='tag', name=tag) }}"> {{ tag }} </a>
                        {% endfor %}
                    {% endif %}
                    <p>
                        {{ page.description }}
                        {% if not page.description %}
                            No description...
                        {% endif %}
                    </p>
                </article>
            </li>
        {% endfor %}
        </ol>
    </section>

    <section>
        {% if paginator.previous %}
            <a href="{{ paginator.first | safe }}"> &lt;&lt; </a> <a rel="prev" href="{{ paginator.previous | safe }}"> &lt; </a>
        {% endif %}
        Page {{ paginator.current_index }}
        {% if paginator.next %}
            <a rel="next" href="{{ paginator.next | safe }}"> &gt; </a> <a href="{{ paginator.last | safe }}"> &gt;&gt; </a>
        {% endif %}
    </section>
{% endblock content %}
