{% extends "paginator.html" %}

{% block title %}
秋槭与石桥都消失不见 - {{ section.title }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="/section.css" />
{% endblock head %}

{% block meta %}
<section>
    <h1>
        {{ section.title }}
    </h1>

    <a href="{{ section.permalink }}/rss.xml"> <img src="/rss-icon.png" alt="RSS" /> </a>
</section>

<section class="description_section">
    <div class="description_div">
        <p class="description">
            {{ section.description }}
        </p>
    </div>
</section>
{% endblock meta %}
