{% extends "t_special.html" %}

{% block head_special %}
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/resources/sp_shouyuan_2026.css" />
{% endblock head_special %}

{% block content %}
    <p id="frontmatter">
        本页面目前匿名地展示了已收到的投稿，但是若未来收到同曲目的投稿，将不会更新于此，而是将其隐藏（除外投稿者另有要求）。<br />
        上次更新于2026年6月13日。
        6/13：新增《フュージョン》、《Blazing:Storm》、《Doppelganger》、《スコーピオンガールの貴重な捕食シーン》、《〚隔絶〛 ～Flame of Determination》
    </p>
    <ul class="sp">
        <li>
            <span class="artist">ANCHOR feat. 皇城 セツナ (CV：八巻 アンナ) -</span> <span class="title">Resolution</span>
            <p>
                <img src="/resources/maimai_DX_PRiSM.png" alt="maimai でらっくす PRiSM" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">ARForest feat. nayuta -</span> <span class="title">Kairos</span>
            <p>
                <img src="/resources/maimai_DX_FESTiVAL_PLUS.png" alt="maimai でらっくす FESTiVAL PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Caramelldansen -</span> <span class="title">ウッーウッーウマウマ(ﾟ∀ﾟ)</span>
            <p>
                <img src="/resources/maimai.webp" alt="maimai" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">DECO*27 &amp; tepe -</span> <span class="title">フュージョン</span>
            <p>
                <img src="/resources/Sekai_title.png" alt="プロジェクトセカイ カラフルステージ！ feat. 初音ミク" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">DJ YOSHITAKA -</span> <span class="title">FLOWER</span>
            <p>
                <img src="/resources/Tricoro-logo.png" alt="beatmania IIDX 20 tricoro" class="sp" />
                <img src="/resources/SDVX_III_GRAVITY_WARS.png" alt="SOUND VOLTEX III GRAVITY WARS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Essbee -</span> <span class="title">悔_</span>
            <p>
                <img src="/resources/rotaeno_logo_black.avif" alt="Rotaeno" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Gram -</span> <span class="title">Odin</span>
            <p>
                <img src="/resources/CHUNITHM_SUN_PLUS.png" alt="CHUNITHM SUN PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Grand Thaw -</span> <span class="title">Äventyr</span>
            <p>
                <img src="/resources/Phigros.webp" alt="Phigros" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">かねこちはる -</span> <span class="title">FLügeL《Λrp:ΣggyØ》</span>
            <p>
                <img src="/resources/SDVX_III_GRAVITY_WARS.png" alt="SOUND VOLTEX III GRAVITY WARS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">かゆき -</span> <span class="title">Blazing:Storm</span>
            <p>
                <img src="/resources/CHUNITHM_PARADISE_LOST.jpeg" alt="CHUNITHM PARADISE LOST" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">黒うさP feat. 初音ミク -</span> <span class="title">千本桜</span>
            <p>
                <img src="/resources/osulogo.png" alt="osu!" class="sp" />mania 4K
            </p>
        </li>
        <li>
            <span class="artist">Laur -</span> <span class="title">PRAGMATISM -RESURRECTION-</span>
            <p>
                <img src="/resources/CHUNITHM_SUN.png" alt="CHUNITHM SUN" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">LeaF -</span> <span class="title">Doppelganger</span>
            <p>
                <img src="/resources/CHUNITHM_STAR_PLUS.png" alt="CHUNITHM STAR PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Lime -</span> <span class="title">Chronomia</span>
            <p>
                <img src="/resources/CHUNITHM_VERSE.png" alt="CHUNITHM VERSE" style="height: 50px" />
            </p>
        </li>
        <li>
            <span class="artist">LucaProject vs NeLiME -</span> <span class="title">Quadruplicity</span>
            <p>
                <img src="/resources/rotaeno_logo_black.avif" alt="Rotaeno" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">MIMI feat. 重音テト -</span> <span class="title">サイエンス</span>
            <p>
                <img src="/resources/maimai_DX_CiRCLE.png" alt="maimai でらっくす CiRCLE" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">n.k feat. 影縫英 -</span> <span class="title">宵の鳥</span>
            <p>
                <img src="/resources/maimai_DX_FESTiVAL_PLUS.png" alt="maimai でらっくす FESTiVAL PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">ピノキオピー feat. 初音ミク -</span> <span class="title">神っぽいな</span>
            <p>
                <img src="/resources/osulogo.png" alt="osu!" class="sp" />mania 4K
            </p>
        </li>
        <li>
            <span class="artist">Se-U-Ra -</span> <span class="title"> Igallta</span>
            <p>
                <img src="/resources/CHUNITHM_VERSE.png" alt="CHUNITHM VERSE" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">STEAKA -</span> <span class="title">スコーピオンガールの貴重な捕食シーン</span>
            <p>
                <img src="/resources/CHUNITHM_LUMINOUS_PLUS.png" alt="CHUNITHM LUMINOUS PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">TaNaBaTa -</span> <span class="title">リリーシア</span>
            <p>
                <img src="/resources/CHUNITHM.png" alt="CHUNITHM" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">TERU FOX × Yukino feat. Iris -</span> <span class="title">〚隔絶〛 ～Flame of Determination</span>
            <p>
                <img src="/resources/CHUNITHM_VERSE.png" alt="CHUNITHM VERSE" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">tn-shi -</span> <span class="title">hyperreality</span>
            <p>
                <img src="/resources/CHUNITHM_X-VERSE.png" alt="CHUNITHM X-VERSE" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">うたたP feat. 結月ゆかり -</span> <span class="title">幸せになれる隠しコマンドがあるらしい</span>
            <p>
                <img src="/resources/maimai_MURASAKi_PLUS.png" alt="maimai MURASAKi PLUS" class="sp" />
            </p>
        </li>
        <li>
            <span class="artist">Y -</span> <span class="title">fairy stage</span>
            <p>
                <img src="/resources/malody_icon-64.png" alt="Malody" class="sp" />4K
            </p>
        </li>
        <li>
            <span class="artist">ヤスオP feat. 初音ミク -</span> <span class="title">えれくとりっく・えんじぇぅ</span>
            <p>
                <img src="/resources/osulogo.png" alt="osu!" class="sp" />mania 4K
            </p>
        </li>
    </ul>
{% endblock content %}
