{% extends "t_base_wo_footer.html" %}

{% block head_base_wo_footer %}
	<link rel="stylesheet" href="/base.css" />
	{% block head_base %} {% endblock head_base %}
{% endblock head_base_wo_footer %}

{% block body_base_wo_footer %}
	{% block body_base %} {% endblock body_base %}
	<footer>
		<p>除非另有说明，本站所有本人创作内容均通过CC0协议释放至公共领域～ Unless other specified, all content by me is released into public domain under CC0 license~~<br /> Maple_Wizen &amp; chsungyesuzuki 2025 no rights reserved</p>
		<a rel="license" href="https://creativecommons.org/publicdomain/zero/1.0/legalcode"><img src="/cc0.png" alt="CC0 Legal Code" /></a>
		<a href="/rss.xml"> <img src="/rss-icon.png" alt="RSS" /> </a>
	</footer>
{% endblock body_base_wo_footer %}
