{% extends "t_base.html" %}

{% block head_base %}
    {% block head_base_with_nav %} {% endblock head_base_with_nav %}
{% endblock head_base %}

{% block body_base %}
    <nav>
        <ul>
            <li>
                <a href="/">home</a>
            </li>
            <li>
                <a href="/blog/">blog</a>
            </li>
            <li>
                <a>gallery</a>
            </li>
            <li>
                <a href="/about">about</a>
            </li>
        </ul>
    </nav>
    {% block content %} {% endblock content %}
{% endblock body %}
