<!doctype html>

<html lang="zh-CN">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon@16x16.png" />

		<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />

		<script>
			MathJax = {
				output: {
					fontPath: '/mathjax-newcm-font',
				}
			}
		</script>
		<script id="MathJax-script" async src="/mathjax_tex-mml-chtml_v4.1.2.js"></script>

		<title>
			{% block title %} {% endblock title %}
		</title>

		<link rel="stylesheet" href="/font.css" />

		{% block head_base_wo_footer %} {% endblock head_base_wo_footer %}
	</head>

	<body>
		{% block body_base_wo_footer %} {% endblock body_base_wo_footer %}
	</body>
</html>

